
// COLORS
$color-primary: #3F83C4;
$color-primary-light: #C4D8F1;
$color-primary-dark: #050C16;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: white;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$font-primary: 'Montserrat', sans-serif;
$font-display: 'Lobster', sans-serif;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    font-family: $font-primary;
    color: $color-grey-dark;
    font-weight: 400;
    line-height: 1.6;
}

.row {
    max-width: $grid-width;
    margin: 0 auto;

    @media screen and (max-width: 1200px){
        margin: 0 2rem
    }
}

.text-secondary {
    font-size: 4.5rem;
    color: transparent;
    text-align: center;
    background-image: linear-gradient(to left, $color-primary-dark, $color-primary-dark, $color-primary, $color-primary-dark, $color-primary-dark);
    -webkit-background-clip: text;
    margin-bottom: 4rem;

}

.fa-chevron-right {
    font-size: 16px;
}